@import '../../../../../theme/variables.scss';
.content
{
  padding:5rem;
  max-width: -webkit-fill-available;
}
.suggestion_grid {
    .suggestion_head_div {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        img {
            float: left;
            margin-right:20px
        }
        h1 {
            float: left;
            color: #1D1860 !important;
            font-weight: bold;
            margin: 0 !important;
        }
    }
    .suggestion_table_div {
        float: left;
        width: 100%;
        margin-top: 20px;
        table {
            padding: 0;
            width: 100%;
            td {
                padding-top: 0 !important;
                padding-bottom:0 !important
            }
        }
        p {
            color: #007FFD !important;
            font-weight: bold;
            font-size: 12px;
            margin-top: 10px;
        }
 
        th {
            font-weight: bold;
            color: black;
        }
        th:last-child {
            color: #007FFD !important;
        }
        tr:nth-child(4n+1) {
          background-color: $alternate;
        }
        th {
          background-color: $white;
        }
    }
}
.suggestion_expand_div {
    overflow: hidden;
    display: flex;
}
.suggestion_expand_personal_div {
    width: 30%;
    div {
        margin: 5px 0;
        span {
            color: #6A6A6A;
        }
    }
}
.suggestion_expand_description_div {
    width: 55%;
    text-align: left;
    font-size: 14px;
    padding: 8px 0;
}
.suggestion_expand_trello_div {
    width: 10%;
    text-align: left;
    line-height: 110px;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
    color: #D96D00;
}
tr.suggestion-detail-row {
    height: 0 !important;
}
 
tr.suggestion-element-row:not(.suggestion-expanded-row):hover {
    background: whitesmoke;
}
 
tr.suggestion-element-row:not(.suggestion-expanded-row):active {
    background: #efefef;
}
 
th:first-child
{
  width:20%;
}
th:nth-last-child(3)
{
  width:10%;
}
th:nth-last-child(2)
{
  width:55%;
  align-items: center;
}
label
{
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
mat-paginator {
    margin-top: 10px;
}