.suggestion_grid {
    // padding: 48px;
    .suggestion_head_div {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        img {
            float: left;
            margin-right:20px
        }
        h1 {
            float: left;
            color: #1D1860 !important;
            font-weight: bold;
            margin: 0 !important;
        }
    }
    .suggestion_table_div {
        float: left;
        width: 100%;
        margin-top: 20px;
        table {
            padding: 0;
            td { 
                padding-top: 0 !important;
                padding-bottom:0 !important
            }
        }
        p {
            color: #007FFD !important;
            font-weight: bold;
            font-size: 12px;
            margin-top: 10px;
        }

        th {
            font-weight: bold;
            color: black;
        }
        th:last-child {
            color: #007FFD !important;
        }
    }
}
.suggestion_expand_div {
    overflow: hidden;
    display: flex;
}
.suggestion_expand_personal_div {
    width: 15%;
    div {
        margin: 5px 0;
        span {
            color: #6A6A6A;
        }
    }
}
.suggestion_expand_description_div {
    width: 55%;
    text-align: left;
    font-size: 14px;
    padding: 8px 12px;
}
.suggestion_expand_trello_div {
    width: 30%;
    text-align: right;
    line-height: 110px;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
    margin-right: 30px;
    color: #D96D00;
}
tr.suggestion-detail-row {
    height: 0 !important;
}
  
tr.suggestion-element-row:not(.suggestion-expanded-row):hover {
    background: whitesmoke;
}

tr.suggestion-element-row:not(.suggestion-expanded-row):active {
    background: #efefef;
}