$btnLavender: #9B358F;
$lavender:#A14995;
$btnBlue: #4F758F;
$colorPrimary:#1D1760;
$cardBorder:#d8d8d8;
$darkGrey:#707070;
$teal:#4F758F;
$coral:#D96D00;
$notify:#C86702;
$gold:#D9B800;
$successGreen:#25BA01;
$lightGreen:#4CAF50;
$black:#000;
$error:#BA0101;
$grey:#626262;

