$btnLavender: #9B358F;
$lavender:#A14995;
$btnBlue: #4F758F;
$colorPrimary:#1D1760;
$cardBorder:#d8d8d8;
$darkGrey:#707070;
$teal:#4F758F;
$coral:#D96D00;
$notify:#C86702;
$gold:#D9B800;
$successGreen:#25BA01;
$lightGreen:#4CAF50;
$error:#BA0101;
$grey:#626262;
$fileUpload:#F4F4F4;
$slideToggle:#5D7F9A;
$slideToggleBase:rgba(93,127,154,0.5);
$slideToggleChecked:#893681;
$slideToggleCheckedBase:rgba(137,54,129,0.5);
$white:#ffffff;
$black:#000;
$alternate:#F0F0F0;
$rowActive:#EFF9FF;
$labelblue:#0089FF;
