<div class="toolbar" role="banner">
  <img src="../assets/images/saudialogo.svg">
</div>
<div class="content" role="main" style="background-image: url(../assets/images/loginbg.svg);background-repeat:no-repeat;background-position: 122% center;background-size: 50% 100%;">
  <div class="formsHolder">
    <div class="form1">
    <div class="tac"><img src="../assets/images/beaker.svg" class="beaker"></div>
    <h4 class="tac">RnD Platform</h4>
    <div class="card msgError">please enter correct corp ID </div>
    <fieldset>
      <legend>Corp Id</legend>
      <input type="text" value="" placeholder="Corp ID">
    </fieldset>
    <fieldset>
      <legend>Password</legend>
      <input type="passord" value="" placeholder="************">
    </fieldset>
    <div class="flex">
      <button type="button" class="full btnLavender">Sign In</button>
    </div>
    </div>

    </div>
</div>

