.betauser_grid {
    // padding: 48px;
    .betauser_head_div {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 25px;
        img {
            float: left;
            margin-right: 20px
        }
        h1 {
            float: left;
            color: #4F758F !important;
            padding-top: 10px;
            font-weight: bold;
            margin: 0 !important;
        }
        div button {
            position: absolute;
            right: 10px;
            top: 5px;
            color: #FFFFFF;
            background-color: #4F758F;
            border-radius: 5px;
            margin-right: 25px;
            width: 250px;
            height: 32px;
        }
    }
}

.mat-table {
    font-family: Helvetica;
}

.beatuser-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

.mat-header-cell {
    font-weight: bold;
    color: black;
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: rgba(0, 0, 0, 0.12)
}

.mat-select {
    //display: inline-block;
    width: 0% !important;
    outline: none;
    margin: 0 4;
    margin-left: 16px;
    .mat-select-value {
        max-width: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 6px solid !important;
    margin: 0 4px;
}

.mat-select-arrow {
    color: #000000 !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-row:nth-child(odd) {
    background-color: #FCFCFC;
}

.mat-row:nth-child(even) {
    background-color: #F0F0F0;
}

::ng-deep .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent !important;
    border-right: none !important;
    border-top: 10px solid !important;
    margin: 0px 0px !important;
    border-image-source: url('../../../../../assets/images/arrow.svg') !important;
    border-image-repeat: stretch !important;
    //color: #000000 !important;
}

.mat-paginator-page-size {
    display: none !important;
}

.mat-paginator-range-label {
    display: none !important;
}

.mat-paginator-container {
    justify-content: center !important;
}

.mat-paginator-icon {
    display: none !important;
    //     content: 'Your text'
}

.mat-paginator-navigation-next:after {
    content: 'Next' !important;
    //display: none !important;
    // content: 'test'!important;
}

.mat-paginator-navigation-previous:after {
    content: 'Pervious' !important;
}

mat-cell {
    margin-top: 10px;
    // border-bottom-color: rgba(0, 0, 0, 0.12);
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
}

.mat-paginator-container {
    margin-top: 10px !important;
}