<div class="toolbar" role="banner">
  <img src="../assets/images/saudialogo.svg">
</div>
<div class="content" role="main" style="background-image: url(../assets/images/loginbg.svg);background-repeat:no-repeat;background-position: 122% center;background-size: 50% 100%;">
  <div class="formsHolder">
    <div class="form1">
    <div class="tac"><img src="../assets/images/beaker.svg" class="beaker"></div>
    <h4 class="tac">RnD Platform</h4>
    <div class="card msgError">You have entered incorrect OTP  please try again </div>
    <fieldset>
      <legend>OTP Code</legend>
      <input type="text" value="" placeholder="Code">
    </fieldset>
    <div class="flex">
      <button type="button" class="full btnLavender">Continue</button>
    </div>
    <p class="tac">00:59</p>
    <p class="tac">Didn’t Receive OTP yet ? Tap <a href="#">Resend</a></p>
    </div>
    </div>
</div>


