@import 'theme/variables.scss';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rndplatform-primary: mat-palette($mat-indigo);
$rndplatform-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rndplatform-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rndplatform-theme: mat-light-theme((
  color: (
    primary: $rndplatform-primary,
    accent: $rndplatform-accent,
    warn: $rndplatform-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rndplatform-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rndplatform-primary: mat-palette($mat-indigo);
$rndplatform-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rndplatform-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rndplatform-theme: mat-light-theme((
  color: (
    primary: $rndplatform-primary,
    accent: $rndplatform-accent,
    warn: $rndplatform-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rndplatform-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  font-size: 10px;
  font-family: "Helvetica" !important;
  height:100%;
}
body { margin: 0; height:100%; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1
{
  font-size:36px;
  font-weight: bold;
  padding-top:40px;
  padding-bottom:20px;
  color:$colorPrimary;
}
h4
{
  font-family:"SaudiaRegular", Arial, Helvetica, sans-serif;
  font-size:3.6rem !important;
  font-weight: bold !important;
  color:$colorPrimary;
  padding:20px 0 20px 0;
}
::placeholder {
  color: #808080;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #808080;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #808080;
}

.msgError
{
color: #C80202;
background:#FFE5E5;
font-size:1.8rem;
border-radius: 5px;
padding:10px 10px 10px 14px;
margin-bottom:20px;
}
.msgWarning
{
  color: #7B5500;
  background:#FFF7D8;
  font-size:1.8rem;
  border-radius: 5px;
  padding:10px 10px 10px 14px;
  margin-bottom:20px;
}
.msgSuccess
{
  color: #4CAF50;
  background:#D8FBDA;
  font-size:1.8rem;
  border-radius: 5px;
  padding:10px 10px 10px 14px;
  margin-bottom:20px;
}

fieldset
{
border:solid 1px #919191;
border-radius:5px;
margin-top:8px;
margin-bottom:8px;
}
legend {
font-size: 2rem;
color:$colorPrimary;
font-family: "Helvetica" !important;
}
input, select, textarea
{
font-size: 2rem;
color:$colorPrimary;
border:none !important;
width:100%;
font-family: "Helvetica" !important;
}
input:focus, select:focus, select:active, select:hover, option, option:focus
{
border:none !important;
outline:none !important;
background:#fff;
color:$colorPrimary;
width:100%;
}
input[type="text"],input[type="password"]
{
padding:4px 0 4px 4px;
}
button
{
color:#fff;
font-size:2rem;
font-weight:bold;
min-height: 45px;
border:none !important;
margin-top:8px;
border-radius:5px;
}
button:focus
{
border:none !important;
outline:none !important
}
.btnLavender
{
  background:$btnLavender;
}
.flex
{
  display: flex;
}
.full
{
width:100%;
}
.half
{
width:50%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label
{
  height:100px !important;
  padding-right:30px;
  font-size:14px;
  font-weight:bold;
}
/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  font-size:18px !important;
}
.mat-tab-label:first-child
{
  width:16%;
  color:$colorPrimary;
  background:url(../src/assets/images/beaker.svg) no-repeat left center ;
  background-size:70px auto;
  padding-left:70px;
  opacity:1;
}
.mat-tab-label:nth-last-child(4)
{
  width:13%;
  color:#A14995;
  background:url(../src/assets/images/beaker_small.svg) no-repeat left center ;
  background-size:40px auto;
  padding-left:60px;
  opacity:1;
}
.mat-tab-label:nth-last-child(3)
{
  width:14%;
  color:#4F758F;
  background:url(../src/assets/images/betauser.svg) no-repeat left center ;
  background-size:60px auto;
  padding-left:70px;
  opacity:1;
}
.mat-tab-label:nth-last-child(2)
{
  width:9%;
  color:#D96D00;
  background:url(../src/assets/images/idea.svg) no-repeat left center ;
  background-size:60px auto;
  padding-left:70px;
  opacity:1;
}
.mat-tab-label:last-child
{
  width:9%;
  color:#1D1860;
  background:url(../src/assets/images/estaff.svg) no-repeat left center ;
  background-size:50px auto;
  padding-left:60px;
  opacity:1;
}
.mat-tab-group.mat-primary .mat-ink-bar
{
  height:5px;
  background-color:#1D1860 !important;
}
mat-tab-header
{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) !important;
  height:99px;
}
.mat-paginator-page-size {
  display: none !important;
}

.mat-paginator-range-label {
  display: none !important;
}

.mat-paginator-container {
  justify-content: center !important;
}

.mat-paginator-icon {
  display: none !important;
  //     content: 'Your text'
}

.mat-paginator-navigation-next:after {
  content: 'Next' !important;
  //display: none !important;
  // content: 'test'!important;
}

.mat-paginator-navigation-previous:after {
  content: 'Pervious' !important;
}
.mat-paginator-container {
  margin-top: 10px !important;
}
td
{
  padding-top:10px !important;
  padding-bottom:10px !important;
}