@import '../../../../theme/variables.scss';
.content
{
  padding:5rem;
}
h1
{
  font-size:34px;
  font-weight: bold;
  padding-top:40px;
  padding-bottom:20px;
  color:$colorPrimary;
}
h2
{
  font-size:34px;
  font-weight: bold;
  color:$colorPrimary;
  padding-top:20px;
  padding-bottom:10px;
  margin-bottom:0;
}
mat-card
{
  width:12%;
  border:solid 1px $cardBorder;
  div
  {
    width:100%;
    height:120px;
    display: flex;
    vertical-align: middle;
  }
  p {
    color:$darkGrey;
    font-size:18px;
    font-weight: bold;
  }
}
mat-card:first-child
{
  img {
    width:34%;
    display: block;
    clear: both;
    margin:0 auto;
  }
  h2
  {
  color:$lavender;
  }
}
mat-card:nth-last-child(3)
{
  img {
    width:50%;
    display: block;
    clear: both;
    margin:0 auto;
  }
  h2
  {
  color:$teal;
  }
}
mat-card:nth-last-child(2)
{
  img {
    width:50%;
    display: block;
    clear: both;
    margin:0 auto;
  }
  h2
  {
  color:$coral;
  }
}
mat-card:nth-last-child(1)
{
  img {
    width:50%;
    display: block;
    clear: both;
    margin:0 auto;
  }
  h2
  {
  color:$colorPrimary;
  }
}
.dashboardDiv {
  padding: 48px;
}