<div class="content" role="main">
  <div class="formsHolder">
      <div class="titleHolder">
        <img src="../assets/images/beaker_small.svg" class="beaker">
        <h4>New Notification</h4>
      </div>
      <!-- <form [formGroup]="loginForm" (ngSubmit)="manualLogin(loginForm.value)"> -->
        <fieldset>
          <legend>Topic</legend>
          <select placeholder="Beta Users" [(ngModel)]="notificationTopic" (change)="getTopicChange(notificationTopic)">
            <option value="ndalcu2">NDALCU2</option>
            <!-- <option value="saudiaestafftest">Saudia Staff Test</option> -->
          </select>
        </fieldset>
        <fieldset>
          <legend>Title</legend>
          <input type="text"  placeholder="Subject" [(ngModel)]="notificationTitle">
        </fieldset>
        <fieldset>
          <legend>Description</legend>
          <textarea type="text" rows="3" placeholder="Updates Content" [(ngModel)]="notificationDescription"></textarea>
        </fieldset>
        <div class="flex">
          <button class="full btnLavender" (click)="sendNotification()" [disabled]="(!notificationTopic || notificationTopic && notificationTopic.trim() == '') || (!notificationDescription || notificationDescription && notificationDescription.trim() == '') && (!notificationTitle || notificationTitle && notificationTitle.trim() == '')">Send Now</button>
        </div>
      <!-- </form> -->

  </div>
</div>
