<div class="content" role="main">
    <div class="formsHolder">
        <div class="titleHolder">
            <img src="../assets/images/beaker_small.svg" class="beaker">
            <h4>New Notification</h4>
        </div>
        <!-- <form [formGroup]="loginForm" (ngSubmit)="manualLogin(loginForm.value)"> -->
        <fieldset class='pad0'>
            <legend>Topic</legend>
            <mat-expansion-panel [expanded]="isOpen" *ngFor="let d of data">
                <mat-expansion-panel-header>
                    {{ d.header }}
                </mat-expansion-panel-header>
                <div *ngFor="let da of content" class="betauser_head_div">
                    <p>{{ da }}
                        <!-- <mat-icon>account_circle</mat-icon> -->
                        <img src="../assets/images/minus.svg">
                    </p>
                </div>
                <mat-label *ngIf='!hide' (click)='visibletexbox()'>Add New Topic + </mat-label>
                <div class="betauser_tex_div" *ngIf='hide'>
                    <input type="text"><button class='button' type="submit" (click)='addfield("new topic")'>Add</button>
                </div>

            </mat-expansion-panel>
        </fieldset>
        <fieldset>
            <legend>Title</legend>
            <input type="text" placeholder="Subject">
        </fieldset>
        <fieldset>
            <legend>Description</legend>
            <textarea type="text" rows="3" placeholder="Updates Content"></textarea>
        </fieldset>
        <div class="flex">
            <button type="submit" class="full btnLavender">Send Now</button>
        </div>
        <!-- </form> -->

    </div>
</div>